.totalReview {
    width: 100vw;
    height: 20vh;
    padding-left: 20px;
    padding-top: 10px;
    line-height: 1.8;
}
.totalReview p {
    font-weight: 16px;
}

.total_span {
    font-weight: bold;
}
.itemTotal {
    margin-right: 10px;
}
.reviewTotalItem {
    display: flex;
    justify-content: space-between;
}
.money {
    margin-right: 20px;
}