.MenuItem{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 50px;
    border-bottom: 1px solid gainsboro;
}

.Menu-item-text{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 5px;

}
.fa-home,
.fa-glass-martini-alt,
.fa-cart-arrow-down,
.fa-user-circle {
    color: #111;
    font-size: 20px;
}

