.RegisterInput {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.register-input {
    padding-left: 10px;
    margin: 10px;
    border: none;
    width: 300px;
    height: 40px;
    outline-color: maroon;
    border: .5px solid gainsboro;
}
.registerLabel {
    margin-left: 20px;
    margin-top: 5px;
    font-weight: bold;
}

