.login-form-btn{
    width: 260px;
    height: 40px;
    background: #781214;
    color: white;
    border: none;
    letter-spacing: 4px;
    font-size: 17px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    outline: none;
    top: 0;
    margin-top: 10px;
}

.login-form-btn:active{
    top: 2px;
    box-shadow: none;
}
.login-cancel{
   margin: 10px auto;
    color: black;
}