
.Item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 19px;
    padding: 15px 15px 15px 15px;

}
.Item-img{
    width: 24vw;
}
.Item-rule {
    border: 1px solid gainsboro;
    width: 70%;
    margin: 5px auto;
}
.Item-user-checkout{
    display: flex;
    flex-direction: column;
    line-height: 1.4
 }
 .Item-name{
    margin-bottom: 5px;
    font-size: 13px
}
.Item-price{
    font-size: 13px;
}
.size{
    font-size: 12px;
} 