.Login-logo {
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
}
.logo-rule {
    width: 50vw;
    margin: 0 auto;
}
.InputField {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.form-input{
    margin: 8px;
    border: 1px solid gainsboro;
    width: 255px;
    height: 38px;
    outline-color: maroon;    
}

.InputField-label {
    margin-left: 5px;
    font-weight: bold;
}

.fa-user,
.fa-lock {
    color: #111;
    font-size: 20px;
    margin: 5px;
}
