
.form-input{
    margin: 8px;
    border: 1px solid gainsboro;
    width: 220px;
    height: 35px;
    outline-color: maroon;    
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}

.fa-user,
.fa-lock {
    color: #111;
    font-size: 20px;
    margin: 5px;
}
