.MenuButton-main{
    background: #781214;
    width: 250px;
    height: 40px;
    color: ghostwhite;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 10px;
    margin: 20px;
}

.fa-user-alt{
    font-size: 15px;
    margin: 0 5px 0 0;
}
