#SideMenu{
    height: 100vh;
    width: 100vw;
    background: #111;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    animation: slide-in 0.2s linear;
}
.SideMenu-close{
    float: right;
    font-size: 40px;
    margin: 10px;
}
.SideMenu-user-menu{
    margin: 120px 0 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Not sure if these are working */
.open{
    position: fixed;
    top: 0;
    transition: 0.5s;
    /* left: 90vw; */

}
.close{
    /* position: absolute;
    top: 0;
    left: 0;
    animation: slide-out 0.2s linear; */
    display: none;

}
/* ************************* */

@keyframes slide-in{
    from{
        width: 0;
    }

    to{
        width: 90vw;
    }
}

@keyframes slide-out{
    from{
        width: 90vw;
    }

    to{
        width: 0;
    }
}
