#SideMenu{
    height: 100vh;
    width: 92vw;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    animation: slide-in 0.2s linear;
    letter-spacing: 2px;
    box-shadow: 0 10px 38px rgba(0,0,0,0.8), 0 10px 12px rgba(0,0,0,0.1);
}
.SideMenu-close{
    float: right;
    font-size: 40px;
    margin: 10px;
    color: #111;
    font-size: 55px;
}
.SideMenu-user-menu{
    margin: 120px 0 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.SideMenu-list{
    list-style: none;
    text-decoration: none;
}
.register-text{
    color: #111;
}

/* Not sure if these are working */
.open{
    position: fixed;
    top: 0;
    transition: 0.5s;
    /* left: 90vw; */

}
.close{
    /* position: absolute;
    top: 0;
    left: 0;
    animation: slide-out 0.2s linear; */
    display: none;

}
/* ************************* */

@keyframes slide-in{
    from{
        width: 0;
    }

    to{
        width: 90vw;
    }
}

@keyframes slide-out{
    from{
        width: 90vw;
    }

    to{
        width: 0;
    }
}
