.Footer{
    margin-top: 30px;
    width: 100vw;
    height: 30vh;
    background: rgb(31, 29, 29);

    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.fa-facebook-square,
.fa-instagram,
.fa-twitter-square{
    color: white;
    margin-right: 15px;
    margin-bottom: 25px;
    font-size: 35px;
    overflow-x: hidden;

}
.contact-list{
    list-style: none;
}
.Footer-social{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
}
.social-icons{
    display: flex;
}
.Footer-contact{
    color: white;
    line-height: 1.8;
    margin-bottom: 5%;
}
.footer-connect{
    letter-spacing: 2px;
    color: white;
}

.fa-envelope,
.fa-phone{
    margin-right: 5px;
}

