.Search-component {
    display: flex;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Search-input {
    background: white;;
    border: 0.2px solid gainsboro;
    height: 6vh;
    width: 80vw;
    color: black;
    font-size: 20px;
    outline-color: maroon;
    padding-left: 15px;
}

.Search-btn {
    height: 6vh;
    width: 8vw;
    border: none;
    outline: none;
    background: maroon;
}
.fa-search {
    font-size: 18px;
    cursor: pointer;
    color: white;
}  