.CartItem-card {
    width: 85vw;
    height: 90px;
    background: white;
    margin: 4px auto;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.CartItem-img {
    width: 45px;
}
