.CartItem-card {
    width: 85vw;
    height: 85px;

    background: white;
    margin: 5px auto;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: 0 10px 15px rgba(0,0,0,0.2), 0 10px 12px rgba(0,0,0,0.1);
}

.CartItem-img {
    width: 45px;
}