.nav-container{
    width: 100vw;
    height: 50px;
    background: black;

    display: flex;
    color: white;
    justify-content: space-between;
    box-shadow: 0 10px 38px rgba(0,0,0,0.2), 0 10px 12px rgba(0,0,0,0.1);

}
.Nav-logo{
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.user-menu{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.login-btn{
    width: 100px;
    height: 30px;
}

.fa-bars{
    color: white;
    font-size: 70px;
    display: none;
    font-size: 30px;
    margin: 7px;
}
.nav-logo{
    width: 200px;
    height: 40px;
}

.fa-shopping-cart{
    color: white;
    margin: 20px 30px 10px 0;
}


@media only screen and (max-width: 650px){
    .user-menu,
    .login-btn{
        display: none;
    } 
    .nav-logo{
        width: 70px;
        height: 20px;
    }
    .fa-bars{
        display: block;
        
    }
   
}